@{
    ViewBag.Title = "Danh sách người dùng";
}
@using OCR.Models;
@model UsersModel
<div class="breadcrumb">
    <ul>
        <li><a href="#">ORC</a></li>
        <li>Danh sách người dùng</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-left">
            <div class="card-body">
                <h4 class="card-title mb-3">Danh sách người dùng <a href="/Home/Add" class="btn btn-success float-right" style="font-size:0.713rem;padding: 0.275rem 0.55rem;color:white;">Thêm mới</a></h4>
                <div class="table-responsive">
                    <div class="dataTables_wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="zero_configuration_table_length">
                                    <label>
                                        Hiển thị
                                        <select id="size" name="zero_configuration_table_length" aria-controls="zero_configuration_table" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> user
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="zero_configuration_table_filter" class="dataTables_filter">
                                    <label>Tìm kiếm:<input id="search" type="search" class="form-control form-control-sm" placeholder="" aria-controls="zero_configuration_table" value="@Model.data.keyword"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Số thẻ</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Dân tộc</th>
                                <th scope="col">Tôn giáo</th>
                                <th scope="col">Quê quán</th>
                                <th scope="col">Thường trú</th>
                                <th scope="col">Có giá trị đến ngày</th>
                                <th scope="col">Ngày cấp</th>
                                <th scope="col">Nơi cấp</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                    int index = 1;
                                    foreach (var item in Model.data.users)
                                    {
                                    <tr>
                                        <th scope="row">@index</th>
                                        <td>@item.so_the</td>
                                        <td>@item.ho_va_ten</td>
                                        <td>@item.ngay_sinh</td>
                                        <td><span class="badge @(item.gioi_tinh.ToLower().Equals("nam")?"badge-success":"badge-info")">@item.gioi_tinh</span></td>
                                        <td>@item.dan_toc</td>
                                        <td>@item.ton_giao</td>
                                        <td>@item.que_quan</td>
                                        <td>@item.thuong_tru</td>
                                        <td>@item.co_gia_tri_den</td>
                                        <td>@item.ngay_cap</td>
                                        <td>@item.noi_cap</td>
                                        <td><a class="text-success mr-2" href="/Home/Detail?id=@item.ma"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="#" onclick="remove('@item.ma')" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                                    </tr>
                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                    <div class="dataTables_wrapper">
                        <div class="row ">
                            <div class="col-sm-12 col-md-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="zero_configuration_table_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous @(Model.data.current_page==1?" disabled":"")" id="zero_configuration_table_previous">
                                            <a href="javascript:void(0);" aria-controls="zero_configuration_table" data-dt-idx="0" tabindex="0" class="page-link" onclick="previousPage()"><i class="nav-icon i-Arrow-Left-2 font-weight-bold"></i></a>
                                        </li>
                                        @{
                                            for (int i = 1; i <= Model.data.amount_pages; i++)
                                            {
                                                <li class="paginate_button page-item@(i==Model.data.current_page?" active":"")" number="@i">
                                                    <a href="javascript:void(0);" aria-controls="zero_configuration_table" data-dt-idx="@i" tabindex="0" class="page-link" onclick="getPage(@i)">@i</a>
                                                </li>
                                            }
                                        }
                                        <li class="paginate_button page-item next @(Model.data.current_page==Model.data.amount_pages?" disabled":"")"" id="zero_configuration_table_next">
                                            <a href="javascript:void(0);" aria-controls="zero_configuration_table" data-dt-idx="@(Model.data.amount_pages+1)" tabindex="0" class="page-link" onclick="nextPage(@Model.data.amount_pages)"><i class="nav-icon i-Arrow-Right-2 font-weight-bold"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of col-->
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle-1">Bạn có chắc muốn xóa?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            @*<div class="modal-body">
                    ...

                </div>*@
            <div class="modal-footer">
                <button class="btn btn-primary ml-2" type="button" id="btn-save-apply" data-dismiss="modal">Đồng ý</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
@section childscript {
    <script>
        $('#size').val('@Model.data.size');
        var selection;
        var remove = (id) => {
            selection = id;
        }
        $('#btn-save-apply').on('click', () => {
            apicontext.post({ id: selection }, `/Home/Delete`, (response) => {
                if (response.Data.message.popup) {
                    if (response.Data.message.status === 'success') {
                        notify.success(response.Data.message.text, "Thành công");
                        $.ajax({
                            url: `/Home/Index?currentPage=${$('.active')[0].attributes['number'].value}&size=${$('#size').val()}&searchWith=${$('#search').val()}`, success: function (data) {
                                document.open();
                                document.write(data);
                                document.close();
                            }
                        });
                        //apicontext.post({ _params: [$('.active')[0].attributes['number'].value, $('#size').val(), $('#search').val()] }, 'Gets', (response) => {
                        //    debugger;
                        //})
                    } else {
                        notify.error(response.Data.message.text, "Thất bại");
                    }
                }
            });
        })
        var getPage = (index) => {
            if ($('.active')[0].attributes['number'].value === `${index}`) return;
            window.location.href = `/Home/Index?currentPage=${index}&size=${$('#size').val()}&searchWith=${$('#search').val()}`;
        }
        var previousPage = () => {
            var index = parseInt($('.active')[0].attributes['number'].value);
            if (index === 1) return;
            getPage(index-=1);
        }
        var nextPage = (lastPage) => {
            var index = parseInt($('.active')[0].attributes['number'].value);
            if (index === lastPage) return;
            getPage(index += 1);
        }
        $('#search').keyup(function (e) {
            if (e.keyCode == 13) {
                window.location.href = `/Home/Index?currentPage=1&size=${$('#size').val()}&searchWith=${$('#search').val()}`;
            }
        });
        $("#size").change(function () {
            window.location.href = `/Home/Index?currentPage=${$('.active')[0].attributes['number'].value}&size=${$('#size').val()}&searchWith=${$('#search').val()}`;
        });
    </script>
}