@{
    ViewBag.Title = "Nhận diện";
}
@using Newtonsoft.Json;
@using OCR.Models;
@model UserModel
<style>
    .loading {
        position: fixed;
        z-index: 1000;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
            background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

            .loading:not(:required):after {
                content: '';
                display: block;
                font-size: 22px;
                width: 1em;
                height: 1em;
                margin-top: 1.8em;
                margin-left: 1.8em;
                z-index: 1002;
                /*position: absolute;*/
                /*-webkit-animation: spinner 150ms infinite linear;
                -moz-animation: spinner 150ms infinite linear;
                -ms-animation: spinner 150ms infinite linear;
                -o-animation: spinner 150ms infinite linear;
                animation: spinner 150ms infinite linear;*/
                border-radius: 0.5em;
                -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
                box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
            }

    /* Animation */

    @@-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    svg {
        width: 25%;
        position: absolute;
        z-index: 1001;
    }
</style>
<div class="breadcrumb">
    <ul>
        <li><a href="#">ORC</a></li>
        <li>Nhận diện</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-left">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="title" class="card-title mb-3 text-center">Mặt trước</h4>
                        <div id="select-image" class="row">
                            <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                <img id="image" class="card rounded" src="~/Content/dist-assets/images/Blank.jpg" alt="" style="max-height:200px">
                            </div>
                            <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                <button id="btn-upload" class="btn btn-light mr-24" type="button">Tải ảnh lên</button>
                                <input type="file" name="image" id="upload" style="display:none;" />
                            </div>
                            <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                <button id="btn-capture" class="btn btn-light mr-24" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Chụp ảnh</button>
                            </div>
                            <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                <button id="btn-recognize" class="btn btn-twitter mr-24" type="button">Nhận dạng</button>
                            </div>
                            <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                <button id="btn-refresh" class="btn btn-dark mr-24" type="button">Chọn lại</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="id0-1">
                        <h4 id="title" class="card-title mb-3 text-center">Kết quả</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="needs-validation" novalidate="novalidate">
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.so_the))" id="lb-@Html.Raw(nameof(Model.data.user.so_the))">Số thẻ:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.so_the))"
                                                   name="@Html.Raw(nameof(Model.data.user.so_the))"
                                                   type="text"
                                                   value="@Model.data.user.so_the"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Số thẻ là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ho_va_ten))" id="lb-@Html.Raw(nameof(Model.data.user.ho_va_ten))">Họ và tên:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.ho_va_ten))"
                                                   name="@Html.Raw(nameof(Model.data.user.ho_va_ten))"
                                                   type="text"
                                                   value="@Model.data.user.ho_va_ten"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Họ và tên là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ngay_sinh))" id="lb-@Html.Raw(nameof(Model.data.user.ngay_sinh))">Ngày sinh:</label>
                                            <input kind="date" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl datepicker"
                                                   id="@Html.Raw(nameof(Model.data.user.ngay_sinh))"
                                                   name="@Html.Raw(nameof(Model.data.user.ngay_sinh))"
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.gioi_tinh))" id="lb-@Html.Raw(nameof(Model.data.user.gioi_tinh))" style="        color: #47404f;
        font-size: 0.813rem;">Giới tính:</label>
                                            <div class="inline-bl" style="width: calc(100% - 155px);">
                                                <div class="ul-form__radio-inline">
                                                    <label class="ul-radio__position radio radio-primary form-check-inline">
                                                        <input kind="radio" mode="0"
                                                               type="radio"
                                                               name="@Html.Raw(nameof(Model.data.user.gioi_tinh))"
                                                               value="Nam"
                                                               checked="@(Model.data.user.gioi_tinh.ToLower().Equals("nam")?true:false)" /><span class="ul-form__radio-font">Nam</span><span class="checkmark"></span>
                                                    </label>
                                                    <label class="ul-radio__position radio radio-primary">
                                                        <input kind="radio" mode="0"
                                                               type="radio"
                                                               name="@Html.Raw(nameof(Model.data.user.gioi_tinh))"
                                                               value="Nữ"
                                                               checked="@(Model.data.user.gioi_tinh.ToLower().Equals("nam")?false:true)" /><span class="ul-form__radio-font">Nữ</span><span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.dan_toc))" id="lb-@Html.Raw(nameof(Model.data.user.dan_toc))">Dân tộc:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.dan_toc))"
                                                   name="@Html.Raw(nameof(Model.data.user.dan_toc))"
                                                   type="text"
                                                   value="@Model.data.user.dan_toc"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Dân tộc là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.que_quan))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan))">Quê quán:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan"
                                                   required="required" disabled />
                                            <div class="invalid-feedback" kind="validation">
                                                Quê quán là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.que_quan_tinh))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan_tinh))" style="width: 100px; margin-left: 155px;">Tỉnh/TP:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan_tinh))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan_tinh))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan_tinh"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Tỉnh/TP là bắt buộc
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.que_quan_huyen))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan_huyen))" style="width: 100px; margin-left: 155px;">Quận/Huyện:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan_huyen))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan_huyen))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan_huyen"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Quận/Huyện là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.que_quan_xa))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan_xa))" style="width: 100px; margin-left: 155px;">Phường/Xã:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan_xa))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan_xa))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan_xa"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Phường/Xã là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.thuong_tru))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru))">Thường trú:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru"
                                                   required="required"
                                                   disabled />
                                            <div class="invalid-feedback" kind="validation">
                                                Thường trú là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))" style="width: 100px; margin-left: 155px;">Tỉnh/TP:</label>
                                            <input kind="text"
                                                   _style="display:inline-block;"
                                                   mode="0"
                                                   style="width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru_tinh"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Tỉnh/TP là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))" style="width: 100px; margin-left: 155px; ">Quận/Huyện:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru_huyen"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Quận/Huyện là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.thuong_tru_xa))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru_xa))" style="width: 100px; margin-left: 155px; ">Phường/Xã:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru_xa))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru_xa))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru_xa"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Phường/Xã là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.co_gia_tri_den))" id="lb-@Html.Raw(nameof(Model.data.user.co_gia_tri_den))">Có giá trị đến ngày:</label>
                                            <input kind="date" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl datepicker"
                                                   id="@Html.Raw(nameof(Model.data.user.co_gia_tri_den))"
                                                   name="@Html.Raw(nameof(Model.data.user.co_gia_tri_den))"
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <input kind="text" mode="0"
                                           _style="display:inline-block;"
                                           style="        width: calc(100% - 260px);height:0px;"
                                           class="form-control inline-bl d-none"
                                           id="@Html.Raw(nameof(Model.data.user.anh_mat_truoc))"
                                           name="@Html.Raw(nameof(Model.data.user.anh_mat_truoc))"
                                           type="text"
                                           value="@Model.data.user.anh_mat_truoc"
                                           required="required" />
                                    <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                        <button class="btn btn-light mr-24 btn-result" type="button" data-toggle="modal" data-target=".modal-result" style="display:none;">Xem ảnh</button>
                                        <button class="btn btn-twitter mr-24 btn-next" type="button">Bước tiếp</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="id0-2" style="display:none;">
                        <h4 id="title" class="card-title mb-3 text-center">Kết quả</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="needs-validation" novalidate="novalidate">
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ngay_cap))" id="lb-@Html.Raw(nameof(Model.data.user.ngay_cap))">Ngày cấp:</label>
                                            <input kind="date" mode="1" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl datepicker"
                                                   id="@Html.Raw(nameof(Model.data.user.ngay_cap))"
                                                   name="@Html.Raw(nameof(Model.data.user.ngay_cap))"
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.noi_cap))" id="lb-@Html.Raw(nameof(Model.data.user.noi_cap))">Nơi cấp:</label>
                                            <input kind="text" mode="1" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.noi_cap))"
                                                   name="@Html.Raw(nameof(Model.data.user.noi_cap))"
                                                   value="@Model.data.user.noi_cap"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Nơi cấp là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <input kind="text" mode="1"
                                           _style="display:inline-block;"
                                           style="        width: calc(100% - 260px);height:0px;"
                                           class="form-control inline-bl d-none"
                                           id="@Html.Raw(nameof(Model.data.user.anh_mat_sau))"
                                           name="@Html.Raw(nameof(Model.data.user.anh_mat_sau))"
                                           type="text"
                                           value="@Model.data.user.anh_mat_sau"
                                           required="required" />
                                    <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                        <button class="btn btn-twitter mr-24 btn-previous" type="button">Quay lại</button>
                                        <button class="btn btn-light mr-24 btn-result" type="button" data-toggle="modal" data-target=".modal-result" style="display:none;">Xem ảnh</button>
                                        <button class="btn btn-success mr-24 btn-save" type="button" data-toggle="modal" data-target=".bd-example-modal-sm">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="id1-1" style="display:none;">
                        <h4 id="title" class="card-title mb-3 text-center">Kết quả</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="needs-validation" novalidate="novalidate">
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.so_the))" id="lb-@Html.Raw(nameof(Model.data.user.so_the))">Số thẻ:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.so_the))"
                                                   name="@Html.Raw(nameof(Model.data.user.so_the))"
                                                   type="text"
                                                   value="@Model.data.user.so_the"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Số thẻ là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ho_va_ten))" id="lb-@Html.Raw(nameof(Model.data.user.ho_va_ten))">Họ và tên:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.ho_va_ten))"
                                                   name="@Html.Raw(nameof(Model.data.user.ho_va_ten))"
                                                   type="text"
                                                   value="@Model.data.user.ho_va_ten"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Họ và tên là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ngay_sinh))" id="lb-@Html.Raw(nameof(Model.data.user.ngay_sinh))">Ngày sinh:</label>
                                            <input kind="date" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl datepicker"
                                                   id="@Html.Raw(nameof(Model.data.user.ngay_sinh))"
                                                   name="@Html.Raw(nameof(Model.data.user.ngay_sinh))"
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    @*<div class="form-row">
                                                                        <div class="form-group col-md-4">
                                                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.gioi_tinh))" id="lb-@Html.Raw(nameof(Model.data.user.gioi_tinh))" style="        color: #47404f;
                                        font-size: 0.813rem;">Giới tính:</label>
                                                                            <div class="inline-bl" style="width: calc(100% - 155px);">
                                                                                <div class="ul-form__radio-inline">
                                                                                    <label class="ul-radio__position radio radio-primary form-check-inline">
                                                                                        <input kind="radio" mode="0"
                                                                                               type="radio"
                                                                                               name="@Html.Raw(nameof(Model.data.user.gioi_tinh))"
                                                                                               value="Nam"
                                                                                               checked="@(Model.data.user.gioi_tinh.ToLower().Equals("nam")?true:false)" /><span class="ul-form__radio-font">Nam</span><span class="checkmark"></span>
                                                                                    </label>
                                                                                    <label class="ul-radio__position radio radio-primary">
                                                                                        <input kind="radio" mode="0"
                                                                                               type="radio"
                                                                                               name="@Html.Raw(nameof(Model.data.user.gioi_tinh))"
                                                                                               value="Nữ"
                                                                                               checked="@(Model.data.user.gioi_tinh.ToLower().Equals("nam")?false:true)" /><span class="ul-form__radio-font">Nữ</span><span class="checkmark"></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>*@
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.que_quan))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan))">Quê quán:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan"
                                                   required="required" disabled />
                                            <div class="invalid-feedback" kind="validation">
                                                Quê quán là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.que_quan_tinh))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan_tinh))" style="width: 100px; margin-left: 155px;">Tỉnh/TP:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan_tinh))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan_tinh))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan_tinh"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Tỉnh/TP là bắt buộc
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.que_quan_huyen))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan_huyen))" style="width: 100px; margin-left: 155px;">Quận/Huyện:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan_huyen))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan_huyen))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan_huyen"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Quận/Huyện là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.que_quan_xa))" id="lb-@Html.Raw(nameof(Model.data.user.que_quan_xa))" style="width: 100px; margin-left: 155px;">Phường/Xã:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.que_quan_xa))"
                                                   name="@Html.Raw(nameof(Model.data.user.que_quan_xa))"
                                                   type="text"
                                                   value="@Model.data.user.que_quan_xa"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Phường/Xã là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.thuong_tru))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru))">Thường trú:</label>
                                            <input kind="text" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru"
                                                   required="required"
                                                   disabled />
                                            <div class="invalid-feedback" kind="validation">
                                                Thường trú là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))" style="width: 100px; margin-left: 155px;">Tỉnh/TP:</label>
                                            <input kind="text"
                                                   _style="display:inline-block;"
                                                   mode="0"
                                                   style="width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru_tinh))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru_tinh"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Tỉnh/TP là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))" style="width: 100px; margin-left: 155px; ">Quận/Huyện:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru_huyen))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru_huyen"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Quận/Huyện là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label for="@Html.Raw(nameof(Model.data.user.thuong_tru_xa))" id="lb-@Html.Raw(nameof(Model.data.user.thuong_tru_xa))" style="width: 100px; margin-left: 155px; ">Phường/Xã:</label>
                                            <input kind="text" mode="0"
                                                   _style="display:inline-block;"
                                                   style="        width: calc(100% - 260px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.thuong_tru_xa))"
                                                   name="@Html.Raw(nameof(Model.data.user.thuong_tru_xa))"
                                                   type="text"
                                                   value="@Model.data.user.thuong_tru_xa"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Phường/Xã là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.co_gia_tri_den))" id="lb-@Html.Raw(nameof(Model.data.user.co_gia_tri_den))">Có giá trị đến ngày:</label>
                                            <input kind="date" mode="0" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl datepicker"
                                                   id="@Html.Raw(nameof(Model.data.user.co_gia_tri_den))"
                                                   name="@Html.Raw(nameof(Model.data.user.co_gia_tri_den))"
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <input kind="text" mode="0"
                                           _style="display:inline-block;"
                                           style="        width: calc(100% - 260px);height:0px;"
                                           class="form-control inline-bl d-none"
                                           id="@Html.Raw(nameof(Model.data.user.anh_mat_truoc))"
                                           name="@Html.Raw(nameof(Model.data.user.anh_mat_truoc))"
                                           type="text"
                                           value="@Model.data.user.anh_mat_truoc"
                                           required="required" />
                                    <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                        <button class="btn btn-light mr-24 btn-result" type="button" data-toggle="modal" data-target=".modal-result" style="display:none;">Xem ảnh</button>
                                        <button class="btn btn-twitter mr-24 btn-next" type="button">Bước tiếp</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="id1-2" style="display:none;">
                        <h4 id="title" class="card-title mb-3 text-center">Kết quả</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="needs-validation" novalidate="novalidate">
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.dan_toc))" id="lb-@Html.Raw(nameof(Model.data.user.dan_toc))">Dân tộc:</label>
                                            <input kind="text" mode="1" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.dan_toc))"
                                                   name="@Html.Raw(nameof(Model.data.user.dan_toc))"
                                                   type="text"
                                                   value="@Model.data.user.dan_toc"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Dân tộc là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ton_giao))" id="lb-@Html.Raw(nameof(Model.data.user.ton_giao))" style="        color: #47404f;
        font-size: 0.813rem;">Tôn giáo:</label>
                                            <div class="inline-bl" style="width: calc(100% - 155px);">
                                                <div class="ul-form__radio-inline">
                                                    <label class="ul-radio__position radio radio-primary form-check-inline">
                                                        <input kind="radio" mode="1" style="width: calc(100% - 155px);"
                                                               type="radio"
                                                               name="@Html.Raw(nameof(Model.data.user.ton_giao))"
                                                               value="Có"
                                                               checked="@(Model.data.user.ton_giao.ToLower().Equals("có")?true:false)" /><span class="ul-form__radio-font">Có</span><span class="checkmark"></span>
                                                    </label>
                                                    <label class="ul-radio__position radio radio-primary">
                                                        <input kind="radio" mode="1" style="width: calc(100% - 155px);"
                                                               type="radio"
                                                               name="@Html.Raw(nameof(Model.data.user.ton_giao))"
                                                               value="Không"
                                                               checked="@(Model.data.user.ton_giao.ToLower().Equals("có")?false:true)" /><span class="ul-form__radio-font">Không</span><span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.ngay_cap))" id="lb-@Html.Raw(nameof(Model.data.user.ngay_cap))">Ngày cấp:</label>
                                            <input kind="date" mode="1" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl datepicker"
                                                   id="@Html.Raw(nameof(Model.data.user.ngay_cap))"
                                                   name="@Html.Raw(nameof(Model.data.user.ngay_cap))"
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-8">
                                            <label style="width:150px;" for="@Html.Raw(nameof(Model.data.user.noi_cap))" id="lb-@Html.Raw(nameof(Model.data.user.noi_cap))">Nơi cấp:</label>
                                            <input kind="text" mode="1" style="width: calc(100% - 155px);"
                                                   class="form-control inline-bl"
                                                   id="@Html.Raw(nameof(Model.data.user.noi_cap))"
                                                   name="@Html.Raw(nameof(Model.data.user.noi_cap))"
                                                   value="@Model.data.user.noi_cap"
                                                   required="required" />
                                            <div class="invalid-feedback" kind="validation">
                                                Nơi cấp là bắt buộc
                                            </div>
                                        </div>
                                    </div>
                                    <input kind="text" mode="1"
                                           _style="display:inline-block;"
                                           style="        width: calc(100% - 260px);height:0px;"
                                           class="form-control inline-bl d-none"
                                           id="@Html.Raw(nameof(Model.data.user.anh_mat_sau))"
                                           name="@Html.Raw(nameof(Model.data.user.anh_mat_sau))"
                                           type="text"
                                           value="@Model.data.user.anh_mat_sau"
                                           required="required" />
                                    <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                        <button class="btn btn-twitter mr-24 btn-previous" type="button">Quay lại</button>
                                        <button class="btn btn-light mr-24 btn-result" type="button" data-toggle="modal" data-target=".modal-result" style="display:none;">Xem ảnh</button>
                                        <button class="btn btn-success mr-24 btn-save" type="button" data-toggle="modal" data-target=".bd-example-modal-sm">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of col-->
</div>
<div class="loading" style="display:none;z-index:1000;">
    <svg id="animated" viewbox="0 0 100 100" style="height:100px;width:100px;">
        <circle cx="50" cy="50" r="45" fill="#FDB900" />
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="0,251.2"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
            <animate attributeName="stroke-dasharray" from="0,251.2" to="251.2,0" dur="30s" begin="btn-recognize.click"/>
        </path>
        <text id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="20">100%</text>
    </svg>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle-1">Bạn có chắc muốn lưu không?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            @*<div class="modal-body">
                    ...

                </div>*@
            <div class="modal-footer">
                <button class="btn btn-primary ml-2" type="button" id="btn-save-apply" data-dismiss="modal">Đồng ý</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Chụp ảnh</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker1">Chọn camera</label>
                                    <select id="video-selection" class="form-control">
                                        <option>Rec</option>
                                        <option>JRec</option>
                                        <option>TRec</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                @*<div class="col-md-3"></div>*@
                                <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim mb-3 justify-content-center">
                                    <video class="card rounded" style="max-height:800px;display:block" src="~/Content/dist-assets/video/test.mp4" autoplay></video>
                                </div>
                                @*<div class="col-md-3"></div>*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                @*<div class="col-md-3"></div>*@
                                <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                    <img id="image-capture" class="card rounded" style="max-height:800px;" src="">
                                    <canvas class="card rounded" style="display:none;max-height:800px;"></canvas>
                                </div>
                                @*<div class="col-md-3"></div>*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                    <button class="btn btn-secondary" type="button" id="btn-capture-start">Bắt đầu</button>
                                    <button class="btn btn-secondary" type="button" id="btn-capture-handle">Chụp</button>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" id="btn-capture-accept" data-dismiss="modal">Lưu</button>
                <button class="btn btn-primary ml-2" type="button" data-dismiss="modal" aria-label="Close">Hủy</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-result" tabindex="-1" role="dialog" aria-labelledby="modal-result" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Kết quả</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3 justify-content-center">
                                <img id="image-result" class="card rounded" style="max-height:400px;" src="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ml-2" type="button" data-dismiss="modal" aria-label="Close">Hủy</button>
            </div>
        </div>
    </div>
</div>
@section childscript {
    <script>
        var type = 0;
        var step = 1;
        var mode = {
            front: 0,
            behind: 1,
            value: 0
        };
        var url = "@Html.Raw(OCR.Contants.UrlContants.Recognize)";
        var user = @Html.Raw(JsonConvert.SerializeObject(Model.data.user));
        var default_image = '/Content/dist-assets/images/Blank.jpg';
        var image_type = 0;
        var count = $(('#count'));
    </script>
    <script>
        $('#btn-upload').click(() => {
            $("#upload").click();
        });
        image
        $('#image').click(() => {
            $("#upload").click();
        });
        $('#upload').change(function () {
            if ($('#upload')[0].files && $('#upload')[0].files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL($('#upload')[0].files[0]);
                image_type = 0;
            }
        });
        $('#btn-refresh').click(() => {
            $('#image').attr('src', default_image);
            $('#upload').val("");
        });
        $('#btn-recognize').click(() => {
            let formData = new FormData()
            if (image_type === 1) {
                let file = DataURIToBlob($('#image').attr('src'));
                formData.append('File', file, 'capture.jpg')
            } else
                formData.append('File', $('#upload')[0].files[0]);
            loadingStart();
            apicontext.postFormData(formData, `Upload?mode=${mode.value}`, (response) => {
                type = response.Data.data.type;
                if (type == 0) {
                    if (step === 1) {
                        $('#id0-1').show();
                        $('#id0-2').hide();
                    } else {
                        $('#id0-1').hide();
                        $('#id0-2').show();
                    }
                    $('#id1-1').hide();
                    $('#id1-2').hide();
                } else {
                    if (step === 1) {
                        $('#id1-1').show();
                        $('#id1-2').hide();
                    } else {
                        $('#id1-1').hide();
                        $('#id1-2').show();
                    }
                    $('#id0-1').hide();
                    $('#id0-2').hide();

                }
                fillData(response.Data.data.user, response.Data.data.type);
                loadingEnd()
                $('.btn-result').hide();
                $(`#id${type}-${step} .btn-result`).show();
                $('#image-result').attr('src', response.Data.data.user.link_anh);
            });
        });
        $('#id0-1 .btn-next').click(() => {
            $('#id0-1').hide();
            $('#id0-2').show();
            $('#title').text('Mặt sau');
            step = 2;
            mode.value = mode.behind;
            fillDataOnly(user, type);
            $('#image').attr('src', default_image);
            $('#upload').val("");
        });
        $('#id0-2 .btn-previous').click(() => {
            $('#id0-2').hide();
            $('#id0-1').show();
            $('#title').text('Mặt trước');
            step = 1;
            mode.value = mode.front;
            fillDataOnly(user, type);
            $('#image').attr('src', default_image);
            $('#upload').val("");
        });
        $('#id1-1 .btn-next').click(() => {
            $('#id1-1').hide();
            $('#id1-2').show();
            $('#title').text('Mặt sau');
            step = 2;
            mode.value = mode.behind;
            fillDataOnly(user, type);
            $('#image').attr('src', default_image);
            $('#upload').val("");
        });
        $('#id1-2 .btn-previous').click(() => {
            $('#id1-2').hide();
            $('#id1-1').show();
            $('#title').text('Mặt trước');
            step = 1;
            mode.value = mode.front;
            fillDataOnly(user, type);
            $('#image').attr('src', default_image);
            $('#upload').val("");
        });
        fillData = (data, _type) => {
            if (mode.value === mode.front) {
                user = {};
            }
            for (let item of $(`#id${_type}-${step} input[mode="${mode.value}"]`)) {
                $.input.setvalue(item, data[item.name]);
                user[item.name] = data[item.name];
            }
        }
        fillDataOnly = (data, _type) => {
            for (let item of $(`#id${_type}-${step} input[mode="${mode.value}"]`)) {
                $.input.setvalue(item, data[item.name]);
            }
            if (_type === 0) {
                $('#image-result').attr('src', data.anh_mat_truoc);
            } else {
                $('#image-result').attr('src', data.anh_mat_sau);
            }
            $('.btn-result').hide();
            if ($('#image-result').height() > 16) {
                $(`#id${type}-${step} .btn-result`).show();
            }
        }
    </script>
    <script>
        const canvas = document.createElement("canvas");
        $('#btn-save-apply').click(() => {
            apicontext.post(user, 'Post', (response) => {
                if (response.Data.message.popup) {
                    if (response.Data.message.status === 'success') {
                        notify.success(response.Data.message.text, "Thành công");
                    } else {
                        notify.error(response.Data.message.text, "Thất bại");
                    }
                }
            });
        });
        $('#btn-capture-handle').click(() => {
            let video = $('video')[0];
            var aspect = video.videoHeight / video.videoWidth;
            var wantedWidth = 1280;
            var height = Math.round(wantedWidth * aspect);
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext("2d").drawImage(video, 0, 0);
            $('#image-capture').attr('src', canvas.toDataURL("image/webp"));
        });
        $('#btn-capture-accept').click(() => {
            if ($('#image-capture').height() <= 16) {
                return;
            }
            $('#image').attr('src', $('#image-capture').attr('src'));
            image_type = 1;
        });
    </script>
    <script>
        $('#btn-capture').click(() => {
            $('#image-capture').attr('src', "");
            $('#btn-capture-start').show();
            $('#btn-capture-handle').hide();
            $('#video-selection').children().remove();
            init();
        })
        $('#btn-capture-start').click(() => {
            $('#btn-capture-start').hide();
            $('#btn-capture-handle').show();
            getStream();
        });
    </script>
    <script>
        init = () => {
            navigator.mediaDevices
                .enumerateDevices()
                .then(gotDevices)
                .catch(handleError);
        }
        function gotDevices(deviceInfos) {
            let videoSelect = $('#video-selection')[0];
            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement("option");
                option.value = deviceInfo.groupId;
                if (deviceInfo.kind === "videoinput") {
                    option.text = deviceInfo.label || "camera " + (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                } else {
                    console.log("Found another kind of device: ", deviceInfo);
                }
            }
        }

        function getStream() {
            let videoSelect = $('#video-selection')[0];
            if (window.stream) {
                window.stream.getTracks().forEach(function (track) {
                    track.stop();
                });
            }

            const constraints = {
                video: {
                    groupId: { exact: videoSelect.value },
                }
            };

            navigator.mediaDevices
                .getUserMedia(constraints)
                .then(gotStream)
                .catch(handleError);
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            $('video')[0].srcObject = stream;
        }

        function handleError(error) {
            console.error("Error: ", error);
        }

        function DataURIToBlob(dataURI) {
            const splitDataURI = dataURI.split(',')
            const byteString = splitDataURI[0].indexOf('base64') >= 0 ? atob(splitDataURI[1]) : decodeURI(splitDataURI[1])
            const mimeString = splitDataURI[0].split(':')[1].split(';')[0]

            const ia = new Uint8Array(byteString.length)
            for (let i = 0; i < byteString.length; i++)
                ia[i] = byteString.charCodeAt(i)

            return new Blob([ia], { type: mimeString })
        }
    </script>
    <script>
        loadingStart = () => {
            $('.loading').show();
            $({ Counter: 0 }).animate({ Counter: "99%" }, {
                duration: 30000,
                easing: 'linear',
                step: function () {
                    count.text(Math.ceil(this.Counter) + "%");
                }
            });
            $('animate')[0].beginElement();
        }
        loadingEnd = () => {
            $('.loading').hide();
            count.text("99%");
        }
    </script>
}